<div class="row">
    <div class="col-lg-12 text-center">
        <div class="exception-body error">
            <div class="exception-panel">
                <div class="exception-content">
                    <img src="assets/images/pages/icon-error.svg" width="100" height="100">
                    <h1>Error Occured</h1>
                    <p>Something went wrong.</p>
                    <button [routerLink]="['/']" type="button" pButton icon="pi pi-arrow-left"
                        label="Go to Dashboard"></button>
                </div>
            </div>
        </div>
    </div>
</div>