<div class="gaming-library">
    <div class="col-lg-12">
        <div class="heading-section">
            <h4><em>Payment</em> Stripe</h4>
        </div>
        <div class="row">
            <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" *ngIf="loading" />
            <p-toast />
            <div class="row g-3" [formGroup]="paymentForm">
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" readonly id="name" formControlName="name">
                </div>
                <div class="col-md-6">
                    <label for="amount" class="form-label">Amount</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-amount">$</span>
                        <input type="text" class="form-control" readonly id="amount" formControlName="amount"
                            aria-describedby="basic-amount">
                    </div>
                </div>
                <ng-container *ngIf="elementsOptions?.clientSecret as clientSecret">
                    <ngx-stripe-payment [clientSecret]="clientSecret">
                    </ngx-stripe-payment>
                </ng-container>
                <button type="button" class="btn btn-primary"
                    [disabled]="paying || payed || !elementsOptions.clientSecret" (click)="pay()">PAY</button>
            </div>
        </div>
    </div>
</div>