<div class="services section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h6>Gallery</h6>
                    <h2>Gallery</h2>
                </div>
                <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" *ngIf="loading" />
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="mb-3">
                                <input class="form-control" type="file" accept=".jpg,.png,.gif"
                                    (change)="onFileSelected($event)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="list-group" *ngFor="let file of files">
                                <button type="button" class="list-group-item list-group-item-action"
                                    [ngClass]="{'list-group-item-primary': isVideoItem(file.contentType!), 'list-group-item-warning': !isVideoItem(file.contentType!)}"
                                    (click)="onImageClick(file.name!)">
                                    {{ file.name | slice:0:40}}{{ file.name?.length! > 40 ? '...' : '' }}
                                    <!-- file.uri -->
                                </button>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <button class="btn btn-primary me-md-2" type="button"
                                    (click)="onDeleteClick(file?.name!)">Delete</button>
                            </div>
                            <figure class="figure" *ngIf="!isVideo">
                                <img [src]='media' />
                                <figcaption class="figure-caption text-end">{{ file?.name }}.</figcaption>
                            </figure>
                            <figure class="figure" *ngIf="isVideo">
                                <video controls>
                                    <source [src]='media' [type]="file?.contentType">
                                    Your browser does not support the video tag.
                                </video>
                                <figcaption class="figure-caption text-end">{{ file?.name }}.</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>