<div class="gaming-library">
    <div class="col-lg-12">
        <div class="heading-section">
            <h4><em>Image/Video</em> Gallery SAS</h4>
        </div>
        <div class="col-lg-12">
            <div class="content">
                <div class="row">
                    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" *ngIf="loading" />
                    <div class="col-lg-4" *ngFor="let file of files">
                        <img [src]="file.uriWithSasToken" alt="Lights" style="width:100%"
                            *ngIf="!isVideoItem(file.contentType!)">

                        <div class="ratio ratio-4x3" *ngIf="isVideoItem(file.contentType!)">
                            <video controls>
                                <source [src]="file.uriWithSasToken" [type]="file?.contentType">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>