<div class="services section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h6>Gallery SAS</h6>
                    <h2>Gallery SAS</h2>
                </div>
                <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" *ngIf="loading" />
                <!-- <img [src]="file.uriWithSasToken" class="img-thumbnail" *ngFor="let file of files"> -->
                <div class="row">
                    <div class="col-md-4" *ngFor="let file of files">
                        <div class="thumbnail" *ngIf="!isVideoItem(file.contentType!)">
                            <img [src]="file.uriWithSasToken" alt="Lights" style="width:100%">
                            <div class="caption">
                                <p>Lorem ipsum...</p>
                            </div>
                        </div>
                        <div class="ratio ratio-4x3" *ngIf="isVideoItem(file.contentType!)">
                            <video controls>
                                <source [src]="file.uriWithSasToken" [type]="file?.contentType">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>