<div class="services section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h6>Feature Flag</h6>
                    <h2>Feature Flag</h2>
                </div>
                <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" *ngIf="loading" />
                <p-divider align="left" type="solid">
                    <b>FeatureA Basic</b>
                </p-divider>
                <p class="m-0 lead">
                    {{featureFlag.featureA_basic}}
                </p>
                &nbsp;
                <p-divider align="left" type="solid">
                    <b>FeatureB Basic</b>
                </p-divider>
                <p class="m-0 lead">
                    {{featureFlag.featureB_basic}}
                </p>
                &nbsp;
                <p-divider align="left" type="solid">
                    <b>FeatureC Percentage</b>
                </p-divider>
                <p class="m-0 lead">
                    {{featureFlag.featureC_percentage}}
                </p>
                &nbsp;
                <p-divider align="left" type="solid">
                    <b>FeatureD TimeWindow</b>
                </p-divider>
                <p class="m-0 lead">
                    {{featureFlag.featureD_timeWindow}}
                </p>
                &nbsp;
                <p-divider align="left" type="solid">
                    <b>FeatureE Custom</b>
                </p-divider>
                <p class="m-0 lead">
                    {{featureFlag.featureE_custom}}
                </p>
            </div>
        </div>
    </div>
</div>