<h1 class="mt-5">Feature Flag</h1>
<p-progressBar mode="indeterminate" [style]="{ height: '6px' }" *ngIf="loading" />
<p-divider align="left" type="solid">
    <b>FeatureA Basic</b>
</p-divider>
<p class="m-0 lead">
    {{featureFlag.featureA_basic}}
</p>
&nbsp;
<p-divider align="left" type="solid">
    <b>FeatureB Basic</b>
</p-divider>
<p class="m-0 lead">
    {{featureFlag.featureB_basic}}
</p>
&nbsp;
<p-divider align="left" type="solid">
    <b>FeatureC Percentage</b>
</p-divider>
<p class="m-0 lead">
    {{featureFlag.featureC_percentage}}
</p>
&nbsp;
<p-divider align="left" type="solid">
    <b>FeatureD TimeWindow</b>
</p-divider>
<p class="m-0 lead">
    {{featureFlag.featureD_timeWindow}}
</p>
&nbsp;
<p-divider align="left" type="solid">
    <b>FeatureE Custom</b>
</p-divider>
<p class="m-0 lead">
    {{featureFlag.featureE_custom}}
</p>